@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Kalnia+Glaze:wght@100..700&display=swap');

html {
    background-color: #ccdf9ade;
    ;
    /*width: 100%;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    opacity: 0.8;
    margin: 0;
    position: fixed;
    z-index: 0;*/
}

body,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#menu a {
    color: black;
    text-decoration: none;
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s;
    text-align: center;
    padding: 0 0.4cm;
    font-size: 24px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid #6b650b;
    box-shadow: 1px 1px 2px #4e4313;
}

#menu a:hover {
    font-size: 22px;
    border-bottom-left-radius: 15px;
    /*arredondar canto abaixo*/
    border-bottom-right-radius: 15px;
    border-bottom: 0.1px solid #494747;
}

#logo img {
    max-width: 60px;
    /* Tamanho máximo do logo */
    height: 60px;
    /* Mantém a proporção da imagem */
}

#logo img:hover {
    box-shadow: 2px 2px 4px #e9a354
}

#header {
    box-sizing: border-box;
    height: 100px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ebd15f;
    box-shadow: 3px 3px 6px #c58e3c;
    top: 0;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.8rem;
    /* unidade de medida relativa que varia de acordo com a dimensão do navegador ou dispositivo, por padrão, 1 rem = 16px*/
    /* gap >define o espaçamento entre linhas e colunas de um flexbox*/
    z-index: 1000;
}

#btn-mobile {
    display: none;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
}

#carouselExampleInterval {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    z-index: 100;
    /* Garante que o carrossel esteja acima de outos elementos */
    margin-top: 10px;
}

.carousel-item img {
    max-height: 700px;
    width: 40%;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background:#c58e3c;
        transition: 0.6s;
        z-index: 500;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #menu-li {
        padding-top: 30px;
        padding-bottom: 12px;
        margin: 0 1rem;
        border-bottom: 2px solid #94c023de (0, 0, 0, 0,05);
    }
#nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: hidden;
}
#btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
}
#hamburger {
    border-top: 2px solid;
    /* melhorando o hamburger > Espessura da linha */
    width: 30px;
    /* Alterar a largura do menu hamburger */
    color:#157896
    /* Alternar cor do hamburger */
}
#hamburger::after,
#hamburger::before{
    content: '';
    display: block;
    width: 30px;
    /* Altera a largura do menu hamburger */
    height: 2px;
    background-color: currentColor;
    margin-top: 4px;
    position: relative;
    border-top: 2px solid;
}
#nav.active #hamburger{
    border-top-color: transparent;
}
#nav.active #hamburger::before{
    transform: rotate(135dgr);
}
#nav.active #hamburger::after{
    transform: rotate(-135dgr);
    top: -7px;
}
}

.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(100%);
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter:brightness(100%)
    }
}
